<!-- Main content -->
<section >
  <br>
  <br>
  <br>
  <table class="table bg-white shadow p-1 mb-5 bg-white rounded table-striped" style="background:#ecf0f1;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Dirección</th>
      <th scope="col">N°Celular</th>
      <th scope="col">DNI</th>
      <th scope="col">Nacionalidad</th>
      <th colspan="3" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody  *ngFor="let persona of personas">
    <tr>
      <td>{{persona.idPersona}}</td>
      <td>{{persona.nombrePersona}}</td>
      <td>{{persona.apellidoPaterno}}</td>
      <td>{{persona.apellidoMaterno}}</td>
      <td>{{persona.diDireccion}}</td>
      <td>{{persona.numeroCelular}}</td>
      <td>{{persona.cod_identidad}}</td>
      <td>{{persona.tiNacionalidad}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-success  text-white"  (click)="openModal()" >Nueva</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn text-white" style="background: #95a5a6" (click)="openModalEdit(persona)">Editar</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn text-white " style="background: #b33939;
" (click)="onDelete(persona)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
