
<section  class="section section-lg pt-lg-0 mt--200">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-4 ml-sm-2" style=""  >
            <div class="card card-success card-outline  col-md-30  shadow p-3 mb-5 bg-white rounded" >
              <div class="card-body py-5 " >
                <label>Desarrolla la capacitacion</label>
                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                  <img src="https://img.icons8.com/color/60/000000/customer-insight.png"/>                </div>
                <div >
                  <h2 class="text-success "> Ventas en Redes Sociales</h2>
                </div>
                <p class="description mt-3"></p>
                <div>
                </div>
                <a  routerLink="/users/training/5" class="btn btn-success mt-4 "> <img src="https://img.icons8.com/ios/50/000000/advance--v2.png"/>Ingresar</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ml-sm-2" style="position: static;"  >
            <div class="card card-success card-outline  col-md-30  shadow p-3 mb-5 bg-white rounded" >
              <div class="card-body py-5 " >
                <label>Desarrolla la capacitacion</label>
                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                  <img src="https://img.icons8.com/color/60/000000/tasks--v1.png"/>
                </div>
                <div >
                  <h2 class="text-success "> Marketing Digital</h2>
                </div>
                <p class="description mt-3"></p>
                <div>
                </div>
                <a  routerLink="/users/training/7" class="btn btn-success mt-4 "> <img src="https://img.icons8.com/ios/50/000000/advance--v2.png"/>Ingresar</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ml-sm-2" style="position: static;"  >
            <div class="card card-success card-outline  col-md-30  shadow p-3 mb-5 bg-white rounded" >
              <div class="card-body py-5 " >
                <label>Participa del evento</label>
                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                  <img src="https://img.icons8.com/stickers/60/000000/data-arrived.png"/>     </div>
                <div >
                  <h2 class="text-success "> Canva al maximo </h2>
                </div>
                <p class="description mt-3"></p>
                <div>
                </div>
                <a  routerLink="/users/event/1" class="btn btn-success mt-4 "> <img src="https://img.icons8.com/ios/50/000000/advance--v2.png"/>Ingresar</a>
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</section>
