<!-- Main content -->
<section >
  <br>
  <br>
  <br>
  <table class="table bg-white shadow p-1 mb-5 bg-white rounded table-striped" style="background:#ecf0f1;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del Banco</th>
      <th scope="col">Asesor</th>
      <th colspan="3" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody *ngFor="let banco of bancos">
    <tr>
      <td>{{banco.idBanco}}</td>
      <td>{{banco.nombreBanco}}</td>
      <td>{{banco.nombreEncargado}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-success  text-white"  (click)="openModal()" >Nuevo</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn text-white" style="background: #95a5a6" (click)="openModalEdit(banco)">Editar</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn text-white " style="background: #b33939;
" (click)="onDelete(banco)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
