
<div id="wrap">
  <!--  <form [formGroup]="formsFilter">
     <div class="container">
       <div class="row justify-content-center">
         <div class="col-md-3 text-center">
         <label class="label">Capacitaciòn</label>
           <nb-select fullWidth placeholder="Capacitacion" formControlName="id_capacitacion" size="small"
              (ngModelChange)="anySesions($event)">
             <nb-option *ngFor="let capacitacion of capacitaciones" [value]="capacitacion.id_capacitacion">{{capacitacion.nombreCapacitacion}}
             </nb-option>
           </nb-select>
         </div>
       </div>
     </div>
   </form>
  -->
  <br>
  <br>
 <!-- Main content -->
  <table class="table bg-white shadow p-1 mb-5 bg-white rounded table-striped" style="background:#ecf0f1;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del Recurso</th>
      <th scope="col">Enlace/URL</th>
      <th scope="col">Nombre del archivo</th>
      <th scope="col">Fecha inicial de activación</th>
      <th scope="col">Fecha de caducidad</th>
      <th scope="col">Sesion</th>
      <th scope="col">Tipo recurso</th>
      <th colspan="2" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody  *ngFor="let recurso of recursos">
    <tr >
      <td>{{recurso.idRecurso}}</td>
      <td>{{recurso.nombreRecurso}}</td>
      <td>{{recurso.url}}</td>
      <td>{{recurso.name}}</td>
      <td>{{recurso.fechaInicioRecurso | date: 'dd/MM/yyyy'}}</td>
      <td>{{recurso.fechaFinRecurso | date: 'dd/MM/yyyy'}}</td>
      <td>{{recurso.sesion.descripcionTema}}</td>
      <td>{{recurso.tiporecurso.nombreTiporecurso}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-success  text-white"  (click)="openModal()" >Nuevo</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-warning" class="btn text-white" style="background: #95a5a6" (click)="openModalEdit(recurso)">Editar</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-danger"  class="btn text-white " style="background: #b33939"  (click)="onDelete(recurso)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /.content -->
<!-- /.content-wrapper -->
