<!-- Main content -->
<section class="content-wrapper bg-white " >
  <table class="table bg-white shadow p-3 mb-5 bg-white rounded ">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Dirección</th>
      <th scope="col">N°Celular</th>
      <th scope="col">DNI</th>
      <th scope="col">Nacionalidad</th>
      <th colspan="2" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>



    </tr>
    </tbody>
  </table>



</section>
<!-- /.content -->
<!-- /.content-wrapper -->
