<!-- Main content -->
<section >
  <br>
  <br>
  <br>
  <table class="table bg-white shadow p-1 mb-5 bg-white rounded table-striped" style="background:#ecf0f1;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th colspan="3" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody *ngFor="let capacitacion of capacitaciones">
    <tr>
      <td>{{capacitacion.idCapacitacion}}</td>
      <td>{{capacitacion.nombreCapacitacion}}</td>
      <td>{{capacitacion.descripcionCapacitacion}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-success  text-white"  (click)="openModal()" >Nueva</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn text-white" style="background: #95a5a6" (click)="openModalEdit(capacitacion)">Editar</button>
      </td>
      <td class="text-center">
        <button type="button" class="btn text-white " style="background: #b33939;
" (click)="onDelete(capacitacion)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
