<!-- Main content -->
<section >
  <br>
  <br>
  <br>
  <br>
  <br>
  <table class="table bg-white shadow p-1 mb-5 bg-white rounded table-striped" style="background:#ecf0f1;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo de recurso</th>
    </tr>
    </thead>
    <tbody *ngFor="let tipoRecurso of tiposRecursos">
    <tr>
      <td>{{tipoRecurso.idTiporecur}}</td>
      <td>{{tipoRecurso.nombreTiporecurso}}</td>
    </tr>
    </tbody>
  </table>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
