<body >

<!-- Content Wrapper. Contains page content -->
  <!-- Content Header (Page header) -->
  <section class="content-header" >
      <div class="row mb-4">
        <div class="col-sm-6">
          <h3 class=" shadow p-3 mb-5 text-center ml-2  bg-olive rounded">Ventas en Redes Sociales</h3>
        </div>
       <div class="col-sm-5">
<a class="text-olive shadow p-3 mb-5 rounded">
  Tu progreso
</a>
  <img src="https://img.icons8.com/plasticine/45/000000/in-progress.png"/>
  <div class="dropdown-divider"></div>
         <div class="progress">
            <div class="progress-bar progress-bar-striped bg-olive" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>


       </div>
      </div>
  </section>
<div class="dropdown-divider"></div>
<p align="center" >
  <iframe class="shadow-sm p-3 mb-5 bg-white rounded" width="1050" height="550" src="https://www.youtube.com/embed/u5TvGxd-T7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline  col-md-30  shadow p-3 mb-5 bg-white rounded">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="../../assets/dist/img/user4-128x128.jpg"
                   alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">Nina Mcintire</h3>

            <p class="text-muted text-center">Socia</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">

              </li>
              <li class="list-group-item">

              </li>
              <li class="list-group-item">

              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Pedidos de oracion</b></a>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary col-md-30 shadow p-3 mb-5 bg-white rounded">
          <div class="card-header">
            <h3 class="card-title">Banco Comunal</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Education</strong>

            <p class="text-muted">
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Locación</strong>

            <p class="text-muted"></p>

            <hr>

            <strong><i class="fas fa-pencil-alt mr-1"></i> Habilidades</strong>

            <p class="text-muted">

            </p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Notas</strong>

            <p class="text-muted"></p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
        <div class="col-md-9 shadow p-3 mb-5 bg-white rounded ">
          <div class="card-header p-2 shadow p-3 mb-5 bg-white rounded">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Contenido de la Capacitación</a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Descripcion General</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Evaluación</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body-1 ">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                <div class="col-md-13">
                  <div class="card card-olive">
                    <div class="card-header ">
                      <h3 class="card-title">Nombre sesion</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>

                      <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <button class="icheck-success  btn-lg border border-width ">
                        <input type="checkbox" id="checkboxSuccess1">
                        <label for="checkboxSuccess1">
                          <a class="small text-dark rounded">Descrip</a>
                          <br>
                          <br>
                          <i class="fa fa-play " aria-hidden="true"></i>
                        </label>
                      </button>
                      <div class="dropdown-divider"></div>
                      <button class="icheck-success  btn-lg border border-width ">
                        <input type="checkbox" id="checkboxSuccess2">
                        <label for="checkboxSuccess2">
                          <a class="small text-dark rounded">Descrip</a>
                          <br>
                          <br>
                          <i class="fa fa-play " aria-hidden="true"></i>
                        </label>
                      </button>
                      <div class="dropdown-divider"></div>
                      <button class="icheck-success  btn-lg border border-width ">
                        <input type="checkbox" id="checkboxSuccess3">
                        <label for="checkboxSuccess3">
                          <a class="small text-dark rounded">Descrip</a>
                          <br>
                          <br>
                          <i class="fa fa-play " aria-hidden="true"></i>
                        </label>
                      </button>
                      <div class="dropdown-divider"></div>
                      <ul>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-olive" data-toggle="dropdown" href="#">
                           Recursos <img src="https://img.icons8.com/external-wanicon-two-tone-wanicon/40/000000/external-download-cloud-technology-wanicon-two-tone-wanicon.png"/>                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" tabindex="-1" href="#">Action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Another action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" tabindex="-1" href="#">Separated link</a>
                          </div>
                        </li>
                      </ul>
                    </div>

                   <!-- /.card-body -->
                  </div>

                  <!-- /.card -->
                </div>
                <div class="col-md-13">
                  <div class="card card-olive">
                    <div class="card-header">
                      <h3 class="card-title">Nombre sesion</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>

                      <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <button class="icheck-success  btn-lg border border-width ">
                        <input type="checkbox" id="checkboxSuccess1">
                        <label for="checkboxSuccess1">
                          <a class="small text-dark rounded">Descrip</a>
                          <br>
                          <br>
                          <i class="fa fa-play " aria-hidden="true"></i>
                        </label>
                      </button>
                      <div class="dropdown-divider"></div>
                      <button class="icheck-success  btn-lg border border-width ">
                        <input type="checkbox" id="checkboxSuccess1">
                        <label for="checkboxSuccess1">
                          <a class="small text-dark rounded">Descrip</a>
                          <br>
                          <br>
                          <i class="fa fa-play " aria-hidden="true"></i>
                        </label>
                      </button>
                      <div class="dropdown-divider"></div>

                      <ul>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-olive" data-toggle="dropdown" href="#">
                            Recursos <img src="https://img.icons8.com/external-wanicon-two-tone-wanicon/40/000000/external-download-cloud-technology-wanicon-two-tone-wanicon.png"/>                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" tabindex="-1" href="#">Action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Another action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" tabindex="-1" href="#">Separated link</a>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <!-- /.card-body -->
                  </div>

                  <!-- /.card -->
                </div>
                <div class="col-md-13">
                  <div class="card card-olive">
                    <div class="card-header">
                      <h3 class="card-title">Nombre sesion</h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>

                      <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      The body of the card
                      <div class="dropdown-divider"></div>

                      <ul>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-olive" data-toggle="dropdown" href="#">
                            Recursos <img src="https://img.icons8.com/external-wanicon-two-tone-wanicon/40/000000/external-download-cloud-technology-wanicon-two-tone-wanicon.png"/>                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" tabindex="-1" href="#">Action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Another action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" tabindex="-1" href="#">Separated link</a>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <!-- /.card-body -->
                  </div>

                  <!-- /.card -->
                </div>



              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <div class="timeline timeline-inverse">

                  <div class="callout callout-success">
                    <h5>I am a danger callout!</h5>

                    <p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire
                      soul,
                      like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>

                </div>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName2" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
</body>
