<body >

<!-- Content Wrapper. Contains page content -->
  <!-- Content Header (Page header) -->
  <section class="content-header" >
      <div class="row mb-4">
        <div class="col-sm-6">
          <h2 class=" shadow p-3 mb-5 text-center ml-8  bg-olive rounded">{{capacitacion?.nombreCapacitacion}}</h2>
        </div>
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <a class="btn btn-outline-info fa fa-circle" routerLink="/users/home" >Regresar </a>
          </a>
        <a class="nav-link no-caret" data-toggle="dropdown" role="button">
          <a class="btn btn-outline-info fa fa-street-view" routerLink="/users/home" >Valorar capacitacion
          </a>
          <span  onclick="calificar(this)" class="fa fa-star text-olive" id="1estrella"></span>
          <span class="fa fa-star text-olive" id="2estrella"></span>
          <span class="fa fa-star text-olive" id="3estrella"></span>
          <span class="fa fa-star text-olive" id="4estrella"></span>
          <span class="fa fa-star text-olive" id="5estrella"></span>
        </a>
       </div>
  </section>
<iframe name="youtu_1" src="https://www.youtube.com/embed/ZEZcIEuGSx0" style="width:100%; height: 600px ; border:none;"></iframe>
<div class="dropdown-divider"></div>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div>
        <div class="card card-success card-outline  col-md-30  shadow p-3 mb-5 bg-white rounded" >

          <div class="card-body box-profile">
            <div class="text-center">


            </div>

            <h3 class="profile-username text-center" >
              <label>{{persona?.nombrePersona}} <img src="https://img.icons8.com/color/48/000000/security-checked--v1.png"/></label>
            </h3>
            <ul class="list-group list-group-unbordered mb-3" >
              <label> <i class="fa fa-id-card" aria-hidden="true"></i> {{persona?.apellidoPaterno}}</label>

              <li class="list-group-item">
                <label><i class="fa fa-hashtag" aria-hidden="true"></i>{{persona?.apellidoMaterno}}</label>

              </li>
              <li class="list-group-item">
                <label> <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>{{persona?.diDireccion}}</label>
              </li>
              <label><i class="fa fa-phone-square" aria-hidden="true"></i>{{persona?.numeroCelular}}</label>


              <li class="list-group-item">
                <label><i class="fa fa-microchip" aria-hidden="true"></i>{{persona?.cod_identidad}}</label>

              </li>

              <li class="list-group-item">
                <label> <i class="fa fa-female" aria-hidden="true"></i> {{persona?.tiNacionalidad}}</label>
              </li>
            </ul>
          </div>



          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div><!-- Profile Image -->

        <!-- About Me Box -->
        <div class="card card-success card-outline  col-md-30  shadow p-3 mb-5 bg-white rounded">
          <div class="card-header"  >
            <label class="text-center">Banco Comunal</label><img src="https://img.icons8.com/color/48/000000/bank-building.png"/>
            <h3 class="card-title">
            </h3>
            <a class="btn btn-success btn-block" >{{banco?.nombreBanco}} <b>
              </b></a>
          </div>
          <!-- /.card-header -->
          <div >

            <p class="text-muted"></p>

            <hr>

            <strong  ><i class="far fa-file-alt mr-1"> </i>    {{banco?.nombreEncargado}}  </strong>

            <p class="text-muted">

            </p>

            <hr>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
        <div class="col-md-9 shadow p-3 mb-5 bg-white rounded ">
          <div class="card-header p-2 shadow p-3 mb-5 bg-white rounded">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Contenido de la Capacitación</a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Descripcion General</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Evaluación</a></li>


            </ul>

          </div><!-- /.card-header -->
          <div class="card-body-1 ">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                <div class="col-md-13">
                  <div class="card card-olive" *ngFor="let sesion of sesiones ; let i = index ">
                    <div class="card-header " >
                      <h3 class="card-title"> {{sesion.descripcionTema}}
                      </h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>

                    </div>

                    <div class="card-body"   >
                      <div >
                        <label> </label>
                        <ul *ngIf="this.sesion.idSesion == '2'">
                          <li>  <a href="https://www.youtube.com/embed/VYp6n607bDY" target="youtu_1"  class="text-olive">{{sesion.descripcionSecion}}</a></li>
                        </ul>
                        <ul *ngIf="this.sesion.idSesion == '7'">
                          <li>  <a href="https://www.youtube.com/embed/ZEZcIEuGSx0" target="youtu_1" class="text-olive">{{sesion.descripcionSecion}}</a></li>
                        </ul>
                        <ul *ngIf="this.sesion.idSesion == '8'">
                          <li>  <a href="https://www.youtube.com/embed/oEI-iWwKYws" target="youtu_1" class="text-olive">{{sesion.descripcionSecion}}</a></li>
                        </ul>
                        <ul *ngIf="this.sesion.idSesion == '6'">
                          <li>  <a href="https://www.youtube.com/embed/MgmZZ8FLOpk" target="youtu_1" class="text-olive">{{sesion.descripcionSecion}}</a></li>
                        </ul>
                        <ul *ngIf="this.sesion.idSesion == '9'">
                          <li>  <a href="https://www.youtube.com/embed/kdE6ZmT_5MI" target="youtu_1" class="text-olive">{{sesion.descripcionSecion}}</a></li>
                        </ul>
                        <ul *ngIf="this.sesion.idSesion == '13'">
                          <li>  <a href="https://www.youtube.com/embed/u5TvGxd-T7c" target="youtu_1" class="text-olive">{{sesion.descripcionSecion}}</a></li>
                        </ul>
                      </div>
                      <div class="dropdown-divider"></div>
                      <ul *ngFor="let recurso of sesion.recursos">

                        <li class="nav-item dropdown">
                          {{recurso.nombreRecurso}}
                          <a class="dropdown-item" tabindex="-1" href="{{recurso.url}}"><img src="https://img.icons8.com/color/50/000000/downloads.png"/></a>



                        </li>
                      </ul>
                    </div>

                   <!-- /.card-body -->
                  </div>

                  <!-- /.card -->
                </div>



              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <div class="timeline timeline-inverse">

                  <div class="callout callout-success" >

                    <p>{{capacitacion?.descripcionCapacitacion}}</p>
                  </div>
                  <div >

                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings" >
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName2" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>

              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      <!-- /.col -->
    </div>
  </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
</body>

<script>
  function calificar(item){
    console.log(item);
  }
</script>
