<body >

<!-- Content Wrapper. Contains page content -->
  <!-- Content Header (Page header) -->
  <section class="content-header" >
      <div class="row mb-4">
        <div class="col-sm-6" *ngFor="let capacitacion of capacitaciones">
          <h2 class=" shadow p-3 mb-5 text-center ml-2  bg-olive rounded">{{capacitacion.nombreCapacitacion}}</h2>
        </div>
       <div class="col-sm-5">
<a class="text-olive shadow p-3 mb-5 rounded">
  Tu progreso
</a>
  <img src="https://img.icons8.com/plasticine/45/000000/in-progress.png"/>
  <div class="dropdown-divider"></div>
         <div class="progress">
            <div class="progress-bar progress-bar-striped bg-olive" role="progressbar" style="width: 70%" aria-valuenow="200" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
       </div>
      </div>
  </section>
<div class="dropdown-divider"></div>

<!-- Tiene que ir la variable con la cual se debe trabajar -->
<app-video ></app-video>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div>
        <div class="card card-primary card-outline  col-md-30  shadow p-3 mb-5 bg-white rounded" >

          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="../../assets/dist/img/user4-128x128.jpg"
                   alt="User profile picture">
            </div>

            <h3 class="profile-username text-center" >
              {{persona.nombrePersona}}
            </h3>
            <ul class="list-group list-group-unbordered mb-3" >
              {{persona.apellidoPaterno}}

              <li class="list-group-item">
                {{persona.apellidoMaterno}}

              </li>
              <li class="list-group-item">
                {{persona.diDireccion}}
              </li>
              {{persona.numeroCelular}}

              <li class="list-group-item">
                {{persona.cod_identidad}}

              </li>

              <li class="list-group-item">
                {{persona.tiNacionalidad}}
              </li>
            </ul>
          </div>



          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        </div><!-- Profile Image -->

        <!-- About Me Box -->
        <div class="card card-primary col-md-30 shadow p-3 mb-5 bg-white rounded">
          <div class="card-header">
            <h3 class="card-title"></h3>
            <a href="#" class="btn btn-primary btn-block" *ngFor="let banco of bancos"><b>
              {{banco.nombreBanco}}</b></a>
          </div>
          <!-- /.card-header -->
          <div class="card-body">


            <hr>

            <strong *ngFor="let banco of bancos" ><i class="fas fa-map-marker-alt mr-1"   > </i> {{banco.nombreEncargado}}</strong>

            <p class="text-muted"></p>

            <hr>

            <strong *ngFor="let banco of bancos" ><i class="far fa-file-alt mr-1"> </i> {{banco.estadoBanco}}</strong>

            <p class="text-muted">

            </p>

            <hr>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
        <div class="col-md-9 shadow p-3 mb-5 bg-white rounded ">
          <div class="card-header p-2 shadow p-3 mb-5 bg-white rounded">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Contenido de la Capacitación</a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Descripcion General</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Evaluación</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body-1 ">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                <div class="col-md-13">
                  <div class="card card-olive" *ngFor="let sesion of sesiones ; let i = index ">
                    <div class="card-header " >
                      <h3 class="card-title">  {{ i + 1 }} -{{sesion.descripcionTema}}
                      </h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>

                      <!-- /.card-tools -->
                    </div>


                    <div class="card-body"   >
                      <div >
                        <label>{{sesion.descripcionSecion}}</label>
                      </div>

                      <!-- <div >
                      <label >{{recursos.url}}</label>
                      </div> -->

                      <div class="dropdown-divider"></div>
                      <ul>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-olive" data-toggle="dropdown" href="#">
                           Recursos <img src="https://img.icons8.com/external-wanicon-two-tone-wanicon/40/000000/external-download-cloud-technology-wanicon-two-tone-wanicon.png"/>                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" tabindex="-1" href="#">Action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Another action</a>
                            <a class="dropdown-item" tabindex="-1" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" tabindex="-1" href="#">Separated link</a>
                          </div>
                        </li>
                      </ul>
                    </div>

                   <!-- /.card-body -->
                  </div>

                  <!-- /.card -->
                </div>



              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <div class="timeline timeline-inverse">

                  <div class="callout callout-success" *ngFor="let capacitacion of capacitaciones">

                    <p>{{capacitacion.descripcionCapacitacion}}</p>
                  </div>
                  <div >

                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName2" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
</body>
