<!-- Main content -->
<section >
  <br>
  <br>
  <br>
  <table class="table bg-white shadow p-1 mb-5 bg-white rounded table-striped" style="background:#ecf0f1;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Descripcion del Tema</th>
      <th scope="col">Descripción de la Sesion</th>
      <th scope="col">Fecha de Inicio</th>
      <th scope="col">Fecha Finalizacion</th>
      <th scope="col">Capacitacion</th>
      <th colspan="2" class="text-center">Opciones</th>
    </tr>
    </thead>
    <tbody  *ngFor="let sesion of sesiones">
    <tr>
      <td>{{sesion.idSesion}}</td>
      <td>{{sesion.descripcionTema}}</td>
      <td>{{sesion.descripcionSecion}}</td>
      <td>{{sesion.fechaInicio | date: 'dd/MM/yyyy'}}</td>
      <td>{{sesion.fechaFin | date: 'dd/MM/yyyy'}}</td>
      <td>{{sesion.capacitacion.nombreCapacitacion}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-success  text-white"  (click)="openModal()" >Nueva</button>
      </td>
      <td class="text-center">
        <button type="button"  class="btn text-white" style="background: #95a5a6"  (click)="openModalEdit(sesion)">Editar</button>
      </td>
      <td class="text-center">
        <button type="button"  class="btn text-white " style="background: #b33939;
" (click)="onDelete(sesion)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
