<div align="center" >
  <div class="mx-auto rounded" style="width: 750px;"  id="accordion">
    <div class="card card-olive" *ngFor="let evento of eventos">
      <div class="card-header" >
        <h4 class="card-title w-100" >
          <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
            {{evento.nombreEvento}}
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          {{evento.descEvento}}
          <div class="dropdown-divider"></div>
          <h2> Fecha del evento </h2>{{evento.fechaInicioevento | date: 'dd/MM/yyyy'}}
        </div>
      </div>
    </div>
    <a class="nav-link no-caret" data-toggle="dropdown" role="button">
      <a class="btn btn-outline-info " routerLink="/users/home" >Regresar </a>
    </a>
  </div> <iframe class="shadow-sm p-3 mb-5 bg-white rounded" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fupeu.campustarapoto%2Fvideos%2F940462823552333%2F&show_text=false&width=560&t=0" width="1050" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="3" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true">

</iframe>

</div>
<body class="row justify-content-center">
<div class="col-md-9 shadow p-3 mb-5 bg-white rounded " >
  <div class="card-header p-2 shadow p-3 mb-5 bg-white rounded"  >
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Realizar comentario</a></li>
      <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Reaccionar al evento</a></li>
      <li *ngIf='' class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Evaluación</a></li>
    </ul>
  </div><!-- /.card-header -->
  <div class="card-body-1 ">
    <div class="tab-content">
      <div class="active tab-pane" id="activity">
        <!-- Post -->
        <div class="col-md-8">
          <div class="input-group mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-comments" aria-hidden="true"></i> </span>
            </div>
            <input type="text" class="form-control" placeholder="coment">
            <a routerLink="/order" class="btn btn-outline-success mt-18" >Comentar</a>
          </div>
          <!-- /.card -->
        </div>



      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="timeline">
        <!-- The timeline -->
        <div class="timeline timeline-inverse">


        </div>
      </div>
      <!-- /.tab-pane -->

      <div class="tab-pane" id="settings" *ngIf=''>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputName" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName2" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button type="submit" class="btn btn-danger">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div>
</div>
</body>
