<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 ">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link   bg-olive">
    <img src="../../../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light ">Adra Gestión</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar  bg-olive">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../../assets/dist/img/user8-128x128.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Gerald Sandy</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/modulo/persons" class="nav-link">
                <i class="far fa-user ml-2"></i>
                <p class="ml-2 text-center">Socia</p>
              </a>
            </li>
            <li class="nav-item ">
              <a  routerLink="/modulo/banks" class="nav-link">
                <i class="fa fa-university ml-2"></i>
                <p class=" ml-2  text-center" routerLink="/modulo/banks">Banco</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/modulo/trainings" class="nav-link">
                <i class="fa fa-bookmark ml-2"></i>
                <p class="ml-2 text-center">Capacitacion</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/modulo/sessions" class="nav-link">
                <i class="fa fa-check-circle ml-2"></i>
                <p class="ml-2 text-center">Sesion</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/modulo/resources" class="nav-link">
                <i class="fa fa-archive ml-2"></i>
                <p class="ml-2 text-center">Recurso</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>
        <li class="nav-item">
          <a class="container">
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
